#titulo-r {
    text-align: center;
}
#emailinput {
    margin-top: 2rem;
    margin-left: 20%;  
}
#InputEmail1 {
    margin-right:25%;
}

#form-data-entry {
    margin-right: 20%;
    margin-top: 2rem;
    margin-left: 20%;
}

#passwordiput {
    margin-top: 2rem;
    margin-left: 20%;
}

#exampleCheck1 {
    margin-left: 20%;
}

#btnLogin {
    margin-top: 2rem;
    margin-bottom: 2rem
}

#emailHelp {
    margin-right: 25%;
    margin-bottom: 2rem;
}

#cont {
    margin-top: 2rem;
    border: 2px solid #ccc;
    border-radius: 8px;
}

#linea-div {
    margin-top: 4rem;
}

#btnCrearUsuario {
    margin-top: 2rem;
    margin-bottom: 2rem
}


#nav {
    border-radius: 8px;
    margin-bottom: 2rem;
}

#nav-content {
    margin-bottom: 1rem;
}

#card-footer {
    margin-top: 2rem;
}


